# Package Files #
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib


# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# Java annotation processor (APT)
.factorypath